@use "../../styles/colors";

p.name {
font-size: 1rem;
color: colors.$text_secondary
}

p.info {
font-size: 1rem;
color:  colors.$secondary_main;
}

div.user {
    background-color: colors.$primary_main;
}