@use "../../styles/colors";

.name {
font-size: 1rem;
color: colors.$text_secondary
}

.info {
font-size: 1rem;
color:  colors.$secondary_main;
}

.user {
    background-color: colors.$primary_main;
}