@use "../../styles/colors";
.media {
    border-radius: 30%;
}

.card {
    background-color: colors.$background_paper;
    height: 50%;
    width: 20%;
   
    
}

.price {
    color: colors.$info_main;
   
    
}

.likes {
    color: colors.$info_main;
    float: right;
   
}

.title {
    color: colors.$text_primary;
    
    
}