@use "../../styles/colors";
.media {
    border-radius: 30%;
}

.card {
    background-color: colors.$background_paper;
}

.price {
    color: colors.$info_main;
}

.likes {
    color: colors.$info_main;
    position: relative;
    left: 290px;
    margin-bottom: 60px;
}

.title {
    color: colors.$text_primary;
}