// .product-tabs {
   
   
    
    
// }

.tab-details {
    position: absolute;
    width: 61px;
    height: 17px;
    left: 1117px;
    top: 499px;    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #E1E1FC;
}

.tab-bids {
    position: absolute;
width: 36px;
height: 17px;
left: 1265px;
top: 499px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}

.table-row-i {
position: absolute;
width: 578px;
height: 64px;
left: 1090px;
background: #4E24F2;
}

