@use "../../styles/colors";

.likes {
    background-color: colors.$success_main;
}

.product-info-likes {
    background-color: colors.$background_paper;
    background: rgba(36, 242, 94, 0.1);

border: 2px solid #24F25E;
box-sizing: border-box;
border-radius: 7px;
}