@use "../../styles/colors";

div.product-info-timer {
    top: 27.95%;
bottom: 62.66%;
height: 118px;
width: 218px;
    
}

div.timer {
   font-size: 20px;
}

label.title {
    background-color: colors.$info_main;
}
.active{
    background-color: colors.$secondary_main;
}
