@use "../../styles/colors";
div.product-info-creator {
background-color: colors.$background_paper;
top: 27.95%;
bottom: 62.66%;
height: 118px;

border-radius: 15px;


}
.title {
font-family: sans-serif;
}

div.user-container{
    margin-right: 10px;
}