div.product-info{
    width: auto;
}

.stats {
    justify-content: flex-end;
}

.grid-container {
    justify-content: flex-end;
}

.grid-item1 {
    height: 118px;
width: 340px;
left: 1090px;
top: 351px;
border-radius: 15px;

    
}

.grid-item2 {
    height: 118px;
width: 218px;
left: 1450px;
top: 351px;
border-radius: 15px;

}