@use "../../styles/colors";

div.product-info-timer {
    font-style: italic;
    .active{
        background-color: green;
    }
}

div.timer {
   font-size: 20px;
}

label.title {
    background-color: colors.$info_main;
}

