.product-tabs {
    width: 578px;
    left: 1093px;
  
 }

.tab-details {
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #E1E1FC;
}

.tab-bids {
   
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #FFFFFF;
}

.table-row {
width: 578px;
height: 64px;


}



