@use "../../styles/colors";

.description {
    position: absolute;
    width: 960px;
    height: 839px;
    left: 470px;
    top: 250px;
  
    background: colors.$background_paper;
}

.text {
    position: absolute;
    width: 818px;
    height: 300px;
    left: 8%;
    top: 50px;

    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
 
    color: colors.$text_secondary;

}

.image {
    position: absolute;
    width: 818px;
    height: 241px;
    left: 8%;
    top: 400px;
    
    background: rgba(0, 0, 0, 0.22);
    border-radius: 15px;
}