@use "../../styles/colors";
 
.wrapper {
    background-color: colors.$background_default;
  }
 
.container {
    display: flex !important;
    align-items: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
  }