.avatar {
    justify-content: center;
    display: flex;
}

<<<<<<< HEAD
=======
.image {
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

>>>>>>> 08e19c9d9208a2a05f94782736aac3eccb7ea601
